/*  your css code here. If applicable */
/*  your css code here. If applicable */
 /* div{
    width:40px;
    height:40px;
    /* border-radius:50%; */
/*     background-color:#CE1126; */
    /* background-clip:content-box; */
/*     padding:40px; */
/*     border:40px solid #00247D; */
/* } */
#outer{
    position: relative;
    top:5px;
	border:300px solid #ff0000;
	border-radius: 50%;
}
#middle{
    position: relative;
    top:-100px;
	border:250px solid #ffa500;
	border-radius: 50%;
}
#inner{
    position: relative;
    top:-100px;
	border:200px solid #ffff00;
	border-radius:50%;
}
#inner-4{
    position: relative;
    top:-100px;
	border:150px solid #008000;
	border-radius: 50%;
}
#inner-5{
    position: relative;
    top:-100px;
	border:100px solid #0000ff;
	border-radius: 50%;
}
#inner-6{
    position: relative;
    top:-100px;
	border:50px solid #800080;
	border-radius:50%;
}
