/*  your css code here. If applicable */
 /* div{
    width:40px;
    height:40px;
    /* border-radius:50%; */
/*     background-color:#CE1126; */
    /* background-clip:content-box; */
/*     padding:40px; */
/*     border:40px solid #00247D; */
/* } */
#outer {
    background-color: #ff0000;
    width:300px; /* You can define it by % also */
    height:300px; /* You can define it by % also */
    position:relative;
    border:1px solid  #ff0000;
    border-radius: 50%;
    }
#middle{
    background-color: #ffa500;
    top: 14%;
    left: 13%;
    width: 73%;
    height: 72%;
    position: relative;
    border: 1px solid #ffa500;
    border-radius: 50%;
        }
 #inner{
    background-color: #ffff00;
    top: 14%;
    left: 13%;
    width: 73%;
    height: 72%;
    position: relative;
    border: 1px solid #ffa500;
    border-radius: 50%;
} 